@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Fira+Sans:wght@200;500&family=Open+Sans:wght@400&display=swap');

:root {
    --noscript-text-padding: 30px;
    --noscript-text-color: rgb(255, 255, 255);
    --noscript-text-color-secondary: rgb(191, 82, 82);

    --win-loadscreen-background: rgb(58, 137, 255);
    --win-loadscreen-text: rgb(255, 255, 255);

    --win-taskbar-height: 50px;

    --win-login-text: rgb(255, 255, 255);
    --win-login-padding: 20px;

    --win-window-titlebar-height: 30px;
    --win-window-titlebar-color: rgb(52, 176, 253);
    --win-window-titlebar-text: white;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3 {
    padding: 2px;
    margin: 2px;
}

iframe {
    border: none;
}

.transparent {background: transparent !important;}

#loadscreen {
    background: black;
    z-index: 999999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

div#noscriptscreen {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    user-select: none;
}

div#noscriptscreen > span {
    display: block;
    padding-top: calc(var(--noscript-text-padding) / 2);
    padding-bottom: calc(var(--noscript-text-padding) / 2);
    color: var(--noscript-text-color);
}

#noscriptscreen > a {
    font-size: 0.4em;
    text-decoration: none;
    color: var(--noscript-text-color-secondary);
    padding-top: calc(var(--noscript-text-padding) / 2);
    padding-bottom: calc(var(--noscript-text-padding) / 2);
}

div#win-load-screen {
    z-index: 90;
    background-color: var(--win-loadscreen-background);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    text-align: center;
}

@keyframes roll {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.roll-img {
    animation: 1s infinite linear roll;
}

div#win-load-main > img.roll-img {
    height: 80px;
}

div#win-load-main > span {
    font-family: 'Archivo', sans-serif;
    display: block;
    color: var(--win-loadscreen-text);
    font-size: 30px;
}

div#win-load-main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#win-login-screen {
    z-index: 80;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
}

div#win-login-box {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div#win-login-box > img#win-login-avatar {
    border-radius: 100%;
    height: 190px;
    padding-top: calc(var(--win-login-padding) / 2);
    padding-bottom: calc(var(--win-login-padding) / 2);
}

div#win-login-box > span#win-login-name {
    display: block;
    color: var(--win-login-text);
    font-size: 50px;
    padding-top: calc(var(--win-login-padding) / 2);
    padding-bottom: calc(var(--win-login-padding) / 2);
}

div#win-login-box > img.roll-img {
    height: 60px;
}

div#win-login-bg {
    background: url("/assets/space-wallpaper-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    transform: scale(1.1);
    left: 0;
    top: 0;
    position: fixed;
}

div#windows {
    user-select: none;
    background-image: url("/assets/space-wallpaper-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

div#taskbar {
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px black;
    background-color: rgba(52, 176, 253, 0.4);
    height: var(--win-taskbar-height);
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 900;
}

div#taskbar > *,
div#taskbar > div#taskbar-rightside > * {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

div#taskbar > *:not(div#taskbar-rightside),
div#taskbar > div#taskbar-rightside > * {
    top: 50%;
    transform: translateY(50%);
}

div#taskbar > svg#taskbar-win {
    transition: fill 300ms;
    fill: white;
    height: 30px;
    width: 30px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

div#taskbar > svg#taskbar-win:hover:not(.clicked) {
    fill: rgb(120, 120, 120);
}

div#taskbar > svg#taskbar-win.clicked {
    fill: black;
}

div#taskbar > div#taskbar-rightside {
    float: right;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


div#taskbar-rightside > span#clock {
    color: white;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


div#startmenu {
    display: none;
    width: 400px;
    backdrop-filter: blur(40px) brightness(1.5);
    box-shadow: 0 -3px 10px black;
    background: linear-gradient(rgba(94, 169, 255, 0.6), rgba(58, 150, 254, 0.6));
    height: 450px;
    bottom: 50px;
    left: 0;
    z-index: 99;
    border-radius: 3px;
    position: fixed;
    padding: 8px 0px 8px 8px;
    border-right: solid 2px rgba(64, 153, 255, 0.4);
    border-top: solid 2px rgba(64, 153, 255, 0.4);
    border-radius: 3px;
}

@keyframes startmenu-fadein {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

div#startmenu.shown {
    animation: 100ms linear startmenu-fadein;
    display: unset;
}

div#startmenu > div#startmenu-leftpane {
    width: 60%;
    display: inline-block;
    height: 100%;
    background-color: white;
    border: solid 2px rgb(206, 206, 206);
    border-radius: 3px;
    outline: solid 2px rgb(162, 162, 162);
}

div#startmenu > div#startmenu-rightpane {
    display: inline-block;
    width: 35%;
    height: 0%;
    vertical-align: top;
    margin-top: 10%;
    padding: 5px;
}

div#startmenu > div#startmenu-rightpane > button {
    display: block;
    color: white;
    background: none;
    border: none;
    font-weight: 200;
    font-family: 'Archivo', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    border: solid 2px transparent;
}

div#startmenu > div#startmenu-rightpane > button:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    border: solid 2px rgba(255, 255, 255, 0.2);
}

div#startmenu-rightpane > button.startmenu-shutdown-start,
div#startmenu-rightpane > button.startmenu-shutdown-end {
    position: absolute;
    bottom: 10px;
    height: 30px;
    text-align: center !important;
    border-radius: 5px !important;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2) 30%) !important;
}

div#startmenu-rightpane > button.startmenu-shutdown-start:hover,
div#startmenu-rightpane > button.startmenu-shutdown-end:hover {
    border: solid 2px rgba(255, 255, 255, 0.4) !important;
}

div#startmenu-rightpane > button.startmenu-shutdown-start {
    width: 80px !important;
}

div#startmenu-rightpane > button.startmenu-shutdown-end {
    width: 30px !important;
    margin-left: 80px;
    font-size: 0.6em;
}

div#startmenu-rightpane > button.startmenu-shutdown-end:hover {
    border: solid 2px rgba(255, 255, 255, 0.4) !important;
}

div#startmenu > div#startmenu-rightpane > hr {
    border: none;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
    margin: 5px;
}

div#startmenu > img#startmenu-av {
    position: absolute;
    right: 50px;
    transform: translateY(-50%);
    background-image: url("https://avatars.githubusercontent.com/u/47297843");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

div#selectionbox {
    pointer-events: none;
    width: 200px;
    position: absolute;
    height: 200px;
    background-color: rgba(0, 129, 209, 0.354);
    border-bottom: solid 4px rgba(0, 129, 209, 0.648);
    border-right: solid 2px rgba(0, 129, 209, 0.648);
    display: none;
}

div#selectionbox.selecting {
    display: unset;
}


div#windows > div.win-window {
    left: 50px;
    top: 50px;
    resize: both;
    overflow:hidden;
    background-color: white;
    min-height: calc(var(--win-window-titlebar-height) + 30px);
    min-width: 220px;
    position: fixed;
    border: solid var(--win-window-titlebar-color) 2px;
    height: 400px;
    width: 600px;
}

div#windows > div.win-window.maximized {
    transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
    left: 10px !important;
    top: 10px !important;
    width: calc(100% - 20px) !important;
    height: calc(100% - var(--win-taskbar-height) - 20px) !important;
    resize: none;
}

div.win-window > div.win-window-titlebar {
    position: absolute;
    width: 100%;
    height: var(--win-window-titlebar-height);
    background-color: var(--win-window-titlebar-color);
    color: var(--win-window-titlebar-text);
}

div.win-window-titlebar > span.win-window-titlebar-title {
    margin-left: 5px;
    pointer-events: none;
    display: block;
    position: absolute;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 200;
}

div.win-window > div.win-window-content {
    margin-top: var(--win-window-titlebar-height);
    width: 100%;
    height: calc(100% - var(--win-window-titlebar-height));
}

div.win-window-content > iframe {
    height: 100%;
    width: 100%;
}

div.win-window-titlebar > div.win-window-titlebar-rightside {
    float: right;
    height: 100%;
}

div.win-window-titlebar-rightside > svg.win-window-titlebar-exit,
div.win-window-titlebar-rightside > svg.win-window-titlebar-max {
    height: calc(var(--win-window-titlebar-height) / 1.3);
    width: calc(var(--win-window-titlebar-height) / 1.3);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    stroke: var(--win-window-titlebar-text);
    fill: var(--win-window-titlebar-text);
    transition: background-color 100ms;
}

div.win-window-titlebar-rightside > svg.win-window-titlebar-max:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

div.win-window-titlebar-rightside > svg.win-window-titlebar-exit:hover {
    background-color: rgba(255, 50, 50, 0.6);
}

@keyframes dance {
    from {
        filter: brightness(3) hue-rotate(0deg);
    }
    to {
        filter: brightness(1) hue-rotate(360deg);
    }
}

@keyframes wobble {
    0% {
        transform: scale(1,1);
    }
    25% {
        transform: scale(1.2,1);
    }
    75% {
        transform: scale(1,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

body.pope > div#windows {
    animation: dance 450ms infinite
}
body.pope {
    overflow: hidden;
    animation: wobble 400ms infinite ease-in-out;
}

@keyframes ppe {
    from {
        left: 100%;
        transform: translateX(0);
    }
    to {
        left: 0;
        transform: translateX(-100%);
    }
}

img.ppe {
    position: fixed;
    bottom: var(--win-taskbar-height);
    animation: 6s ppe infinite linear;
}
body.pope > div#windows::before {
    content: "2137";
    color: white;
    font-weight: 700;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    font-size: 300px;
}

div#windows > div#win-icons {
    height: calc(100vh - var(--win-taskbar-height));
    position:fixed;
    z-index: -1;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    flex-direction: column;
    pointer-events: none;
}

div#win-icons > *,
div#win-widgets > * { 
    pointer-events: auto !important;
}

div#win-icons > div.win-icon {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    height: 90px;
    width: 130px;
    margin: 15px;
}

div.win-icon > img.win-icon-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    max-width: 35%;
}

div.win-icon > span.win-icon-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    color: white;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 
        -1px -1px 0 #000, /* Top-left shadow */
        1px -1px 0 #000, /* Top-right shadow */
        -1px 1px 0 #000, /* Bottom-left shadow */
        1px 1px 0 #000; /* Bottom-right shadow */
}

div#win-icons > div.win-icon:hover {
    background-color: rgba(194, 221, 255, 0.5);
    border: solid 2px rgba(194, 221, 255, 0.6);
}

div#win-icons > div.win-icon.selected {
    background-color: rgba(194, 221, 255, 0.5);
    border: solid 2px rgba(194, 221, 255, 0.6);
}

div#win-icons > div.win-icon.selected:hover {
    background-color: rgba(153, 199, 255, 0.5);
    border: solid 2px rgba(153, 199, 255, 0.6);
}

@keyframes shakeSmall {
    0% {
        transform: translate(7px, 7px);
    }
    25% {
        transform: translate(-3px, -3px);
    }
    50% {
        transform: translate(7px, -3px);
    }
    75% {
        transform: translate(-3px, 7px);
    }
    100% {
        transform: translate(7px, 7px);
    }
}

.shakeSmall {
    animation: shakeSmall infinite linear 200ms;
}

.undertale-btn {
    filter: saturate(0);
}

.undertale-btn:hover {
    filter: saturate(1);
    cursor: pointer;
}


div#windows > div#win-widgets {
    height: calc(100vh - var(--win-taskbar-height));
    width: calc(100vw - 0px);
    position:fixed;
    z-index: 1;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    flex-direction: column;
    pointer-events: none;
}

div#win-widgets > * {
    margin: 20px;
}