@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --main-color: rgb(52, 176, 253) ;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


#splash {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
}

#splash > img {
    width: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

input {
    outline: none;

    border-left: solid black 3px;
    border-right: solid black 3px;

    border-top: solid black 2px;
    border-bottom: solid black 2px;

    width: 200px;
    height: 30px;

    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
}

input:focus {
    border-color: var(--main-color);
}

span {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}

#leftpane {
    background-color: var(--main-color);
    width: 40vw;
    height: 100%;
    top: 0;
    position: fixed;
}

#rightpane {
    position: absolute;
    left: 40vw;
    padding-left: 20px;
    background-color: white;
}

#rightpane > button {
    width: 80px;
    height: 30px;
    border: none;
    background-color: rgb(210, 210, 210);
    transition: transform 100ms;
}

#rightpane > button:hover {
    border: solid rgb(150, 150, 150) 3px;
}

#rightpane > button:active {
    border: none;
    background-color: rgb(130, 130, 130);
    transform: scale(0.98);
}

